@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* Extra small devices (phones, 600px and down) */
:root {
  /* global config */
  --global-font: 'Poppins', sans-serif;
  --global-color-text-black: #0d0d0d;
  --global-color-text-white: #f3f3f3;
  --global-backgound-color: #ffffff;

  /*config header*/
  --header-background: hsla(0, 0%, 51%, 0.3);
  --header-font-size: 1rem;
  --header-font-weigth: 500;
  --header-min-width: 40%;
  --header-main-width: 60%;
  --header-max-width: 70%;
  --header-padding: 0 0.7rem 0.3rem 0.7rem;
  --header-heigth: 3.5rem;
  --header-button-size: 2.5rem;
  --header-border-radius: 3rem;
  --header-z-index: 10;

  /* config paragraph */
  --paragraph-font-size-mobile: 1.3rem;
  --paragraph-width-mobile: 75%;
  --paragraph-margin-mobile: 1rem 0;
  --paragraph-text-align: start;

  /* button config */
  --color-background-button: #f9bc60;
  --size-button: 5rem;
  --padding-button: 2.5rem;

  /* config card */
  --card-background-color: #ffffff;
  --color-text-card: #000000;
  --tablet-size-card: 40%;
  --desktop-size-card: 30%;

  /* config form */
  --form-background-color: #f9bc60;
  --form-color-font: #004643;
  --form-button-background: #004643;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  overflow-x: hidden;
}
body {
  background: url(./img/bg-mobile-all.svg) no-repeat;
  width: 100vw;
  font-family: var(--global-font);
  color: var(--global-color-text-black);
  background-color: var(--global-backgound-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ======  navbar ========*/
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 4rem;
  position: fixed;
  top: 1rem;
  z-index: var(--header-z-index);
  height: var(--header-heigth);
  width: var(--header-main-width);
}
.paragraph {
  font-size: var(--paragraph-font-size-mobile);
  width: var(--paragraph-width-mobile);
  margin: 2rem 0;
  text-align: var(--paragraph-text-align);
}
#cliente-button {
  display: none;
}
#nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-heigth);
  background-color: var(--header-background);
  padding: var(--header-padding);
  border-radius: var(--header-border-radius);
}
#nav__menu {
  z-index: 1;
  position: absolute;
  top: 3.5rem;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background-color: var(--header-background);
  border-radius: 0 0 2rem 2rem;
}

#nav__menu li {
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  outline: none;
}
.nav__menu-link {
  text-decoration: none;
  font-size: 1.3rem;
  outline: none;
  color: var(--global-color-text-white);
  font-weight: var(--header-font-weigth);
}
#button__menu {
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  width: var(--header-button-size);
  height: var(--header-button-size);
  cursor: pointer;
}
#logo {
  margin-top: 0.2rem;
  width: 100%;
}

/* ========== Pages =========== */

/* home page */
#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--global-backgound-color);
  width: 100%;
  height: 100vh;
}
.bg-inicio {
  position: absolute;
  width: 100%;
}

/* Frase da página principal */
#presentatio-paragraph {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 65%;
  height: 100%;
  margin-top: 80%;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  animation: fadeIn 3s ease-out forwards;
}

/* seta scroll */
#btn-scroll {
  position: absolute;
  top: 90%;
  border: none;
  transition: 2s;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
}
#down {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 1.5rem;
  display: inline-block;
  padding: 3px;
  animation: arrowDown 3s ease-in-out 3s infinite;
  outline: none;
  z-index: 7;
}

/* About */
#sobre,
#container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#sobre {
  width: 100%;
  height: 100vh;
}

#about-image {
  width: 80%;
  height: auto;
  margin-top: 5rem;
}

/* Galeria */
#galeria {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery__itens {
  width: 100%;
  height: 100%;
}
#container__gallery {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container__gallery li {
  width: 85%;
  list-style-type: none;
  margin: 2rem 0;
}
/* card arte */
.gallery__item {
  background-color: var(--card-background-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
}
.gallery__image {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  border: 5px solid #004643;
}
.gallery__descrition-item {
  width: 90%;
  font-size: 1rem;
  padding-top: 0.1rem;
  color: var(--color-text-card);
}

/* contato */
#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--form-background-color);
  color: var(--form-color-font);
}
label {
  display: block;
  margin: 1rem 0 0.3rem 0;
  font-weight: 600;
}
input,
select {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 0.2rem;
  color: #000000;
  font-size: 1.2rem;
}
textarea {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: none;
  border-radius: 0.2rem;
  padding: 1rem;
  font-size: 1.2rem;
}
.form-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn {
  width: 60%;
  margin: 2rem auto;
  padding: 1rem 1rem;
  background-color: #004643;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn:hover {
  scale: 1.05;
  background-color: #004643e3;
}
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: #f9bc60;
  border-radius: 3rem 0 0 0;
}
.container-footer {
  justify-content: center;
  list-style-type: none;
}
.container-footer li {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  cursor: pointer;
  color: #004643;
  font-weight: 700;
  transition: 0.5s;
}
.container-footer li:hover {
  scale: 1.1;
  transition: 0.5s;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* background */
  body {
    background: url(./img/bg-tablet-p1.svg) no-repeat;
  }
  #button__menu {
    position: absolute;
    right: 0.8rem;
    bottom: 0.6rem;
  }
  #presentatio-paragraph {
    margin-top: 65%;
  }
  .paragraph {
    width: 62%;
    font-size: 1.4rem;
  }
  /* Pages */
  #about-image {
    width: 60%;
    height: auto;
    margin-top: 5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .paragraph {
    width: 50%;
    font-size: 1.5rem;
  }
  #presentatio-paragraph {
    margin-top: 50%;
    font-size: 2rem;
  }
  #about-image {
    width: 50%;
    height: auto;
    margin-top: 5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    background: url(./img/bg-desktop-p1.svg) no-repeat;
  }
  header {
    width: 80%;
  }
  #presentatio-paragraph {
    margin-top: 45%;
    width: 50%;
  }
  #cliente-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: var(--header-heigth);
    background-color: var(--header-background);
    border-radius: 3rem;
    color: var(--global-color-text);
    font-weight: var(--header-font-weigth);
    margin-left: 4rem;
  }
  #nav__menu {
    z-index: 1;
    position: absolute;
    top: 0.3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 70%;
    height: 3rem;
    border-radius: 0;
    left: 10rem;
    background: none;
    text-transform: lowercase;
  }

  .nav__menu-link {
    font-size: var(--header-font-size-desktop);
    color: var(--global-color-text-black);
  }

  #button__menu {
    display: none;
  }
  .paragraph {
    width: 40%;
    margin-top: 2rem;
    font-size: 1.8rem;
  }
  #sobre,
  #container-sobre {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
  #sobre {
    width: 100%;
    height: 100vh;
  }

  #about-image {
    width: 40%;
    height: auto;
    margin-bottom: 4rem;
  }
  form {
    width: 60%;
    padding: 2rem 3rem;
    border-radius: 2rem;
  }
  footer {
    justify-content: space-evenly;
    padding: 1rem 5rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body {
    background: url(./img/bg-large-desktop.svg) no-repeat;
    background-size: 100%;
  }
  header {
    width: 65%;
  }
  #logo {
    margin: 0.8rem 0 0 0.5rem;
  }
  #cliente-button {
    width: 30%;
  }
  #presentatio-paragraph {
    margin-top: 35%;
    width: 50%;
    font-size: 2.5rem;
  }
  #about-image {
    width: 30%;
    height: auto;
    margin-bottom: 4rem;
  }
}
@media only screen and (min-width: 1550px) {
  header {
    width: 100%;
    height: 4rem;
    justify-content: center;
  }
  #presentatio-paragraph {
    margin-top: 20%;
    width: 35%;
    font-size: 4rem;
  }
  #nav {
    height: 4rem;
    width: 30%;
  }
  #nav__menu {
    width: 60%;
    height: 3.5rem;
  }
  #logo {
    margin: 0.8rem 0 0 0.5rem;
  }

  .nav__menu-link {
    font-size: 1.3rem;
    color: var(--global-color-text-black);
  }
  #cliente-button {
    width: 10%;
    height: 4rem;
    font-size: 1.3rem;
  }
  .paragraph {
    width: 25%;
    font-size: 2rem;
  }
  #down {
    left: 18%;
  }
  #about-image {
    width: 20%;
  }
  /* aparecer lentamente */
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
}
@keyframes slideRightToLeft {
  0%,
  100% {
    left: -18rem;
  }
  50% {
    left: calc(50% - 50px);
  }
}

@keyframes slideLeftToRight {
  0%,
  100% {
    right: -12rem;
  }
  50% {
    right: calc(50% - 50px);
  }
}

/* Mover a seta para cima e para baixo */
@keyframes arrowDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-0px);
  }
}
to {
  transform: translateY(-50%);
}

@keyframes floatAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Ajuste a altura da flutuação conforme necessário */
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
