@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
/* Extra small devices (phones, 600px and down) */
:root {
  /* global config */
  --global-font: 'Poppins', sans-serif;
  --primary-color1: #004643;
  --primary-color2: #f9bc60;
  --transition: 0.3s;
  --width-100: 100%;
  --width-80: 80%;
  --width-70: 70%;
  --width-60: 60%;
  --border-radius: 1rem;

  /*config navbar*/
  --header-background: hsla(0, 0%, 51%, 0.3);
  --header-font-size: 1.3rem;
  --header-font-weigth: 500;
  --header-main-width: 20rem;
  --header-padding: 0 0.7rem 0.3rem 0.7rem;
  --header-heigth: 3.5rem;
  --header-button-size: 2.5rem;
  --header-border-radius: 3rem;
  --header-z-index: 10;

  /* config paragraph and text*/
  --paragraph-font-size: 1.3rem;
  --paragraph-width: 80%;
  --text-color1: #111111;
  --text-color2: #ffffff;

  /* config card */
  --galeria-card-background-color: #8282824d;
  --galeria-card-box-shadow: #64646f33 0px 7px 29px 0px;

  /* config form */
  --form-background-color: #f9bc60;
  --form-bg-input: #ffffff;
  --form-color-font: #004643;
  --form-button-background: #004643;
  --form-box-shadow: 1px 6px 13px 1px rgba(89, 89, 89, 1);

  /* Config footer */
  --footer-box-shadow: 0 -5px 15px -7px rgba(68, 68, 68, 1);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--global-font);
  color: var(--text-color1);
  background-color: var(--primary-color1);
}

/* +++++++++++ NAVBAR ++++++++++++++*/
header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 4rem;
  position: fixed;
  top: 1rem;
  z-index: var(--header-z-index);
  height: var(--header-heigth);
  width: var(--header-main-width);
}

#nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-100);
  height: var(--header-heigth);
  background-color: var(--header-background);
  padding: var(--header-padding);
  border-radius: var(--header-border-radius);
}
/* close */
#nav__menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
  left: 0;
  height: 50vh;
  border-radius: 0 0 2rem 2rem;
  background-color: var(--primary-color1);
  width: var(--width-100);
}

#nav__menu li {
  list-style-type: none;
  margin: 1rem 0 1rem 0;
  outline: none;
}
.nav__menu-link {
  text-decoration: none;
  outline: none;
  font-size: var(--header-font-size);
  color: var(--text-color2);
  font-weight: var(--header-font-weigth);
  transition: var(--transition);
}
.nav__menu-link:hover {
  color: #7e7e7e;
  transition: var(--transition);
}
#button__menu {
  position: absolute;
  right: 0.8rem;
  bottom: 0.6rem;
  cursor: pointer;
  width: var(--header-button-size);
  height: var(--header-button-size);
}
#logo {
  margin-top: 0.5rem;
  width: var(--width-100);
}

/* +++++++++++++++++++ Content ++++++++++++++++++ */
/* config paragraph */
.paragraph {
  margin: 2rem 0;
  font-size: var(--paragraph-font-size);
  width: var(--paragraph-width);
  text-align: var(--paragraph-text-align);
  color: var(--text-color2);
}

/* +++++++ Inicio +++++++*/
#inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  color: var(--global-backgound-color);
  width: var(--width-100);
}

#presentatio-paragraph {
  z-index: 5;
  display: flex;
  flex-direction: column;
  height: auto;
  margin-top: 70%;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  width: var(--width-80);
  color: var(--text-color2);
  animation: fadeIn 5s ease-out forwards;
}

/* seta scroll */
#btn-scroll {
  position: absolute;
  top: 90%;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  transition: var(--transition);
}
#down {
  position: absolute;
  top: 15%;
  left: 20%;
  font-size: 1.5rem;
  display: inline-block;
  padding: 3px;
  outline: none;
  z-index: 7;
  animation: arrowDown 3s ease-in-out 3s infinite;
}

/* ++++++++++++++++ About ++++++++++++++*/
iframe {
  width: 85%;
  border-radius: 0.5rem;
}
#sobre {
  width: var(--width-100);
  height: 100vh;
}
#sobre,
#container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ++++++++++ Galeria +++++++++++++ */

#galeria p {
  color: var(--primary-color1);
}
#gallery__itens {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-100);
}
#container__gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width-100);
}
#container__gallery li {
  list-style-type: none;
  margin: 2rem 0;
  cursor: pointer;
  width: var(--width-80);
  transition: var(--transition);
}
#container__gallery li:hover {
  scale: 1.1;
  transition: var(--transition);
}
/* card arte */
.gallery__item {
  border-radius: 1.5rem;
  padding: 1rem;
  width: var(--width-100);
  background-color: var(--galeria-card-background-color);
  box-shadow: var(--galeria-card-box-shadow);
}
.gallery__image {
  height: 100%;
  border-radius: var(--border-radius);
  width: var(--width-100);
}

/* +++++++++++++++ contato +++++++++++++ */
#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  background-color: var(--primary-color2);
}
#contato p {
  color: var(--primary-color1);
}
form {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  margin: 2rem 0;
  width: var(--width-80);
  background-color: var(--form-background-color);
  color: var(--form-color-font);
  box-shadow: var(--form-box-shadow);
}
#h1-form {
  text-align: center;
  font-size: 2rem;
}
label {
  display: block;
  margin: 1rem 0 0.3rem 0;
  font-weight: 600;
}
input,
select,
textarea {
  padding: 1rem;
  border: none;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  background-color: var(--form-bg-input);
  color: var(--text-color1);
}
#form-checkbox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
#p-checkbox {
  font-weight: 700;
  color: var(--primary-color1);
}
input[type='checkbox'] {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.btn {
  margin: 2rem auto;
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  width: var(--width-60);
  transition: var(--transition);
  background-color: var(--primary-color1);
  color: var(--text-color2);
}
.btn:hover {
  scale: 1.05;
  background-color: #003746e3;
  transition: var(--transition);
}
/* ++++++++++ footer +++++++++++ */
footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 2rem;
  width: var(--width-100);
  background-color: var(--primary-color2);
}
.container-footer {
  justify-content: center;
  list-style-type: none;
}
.container-footer li {
  font-size: 0.8rem;
  margin-top: 0.8rem;
  cursor: pointer;
  font-weight: 700;
  transition: var(--transition);
  color: var(--primary-color1);
}
.container-footer li:hover {
  scale: 1.1;
  transition: var(--transition);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* ++++++++++ navbar +++++++++ */
  #button__menu {
    position: absolute;
    right: 0.8rem;
    bottom: 0.6rem;
  }
  .paragraph {
    font-size: 1.4rem;
    width: var(--width-70);
  }
  /* +++++++ inicio +++++++++ */
  #presentatio-paragraph {
    margin-top: 70%;
    font-size: 2.5rem;
  }
  /* +++++++++ sobre +++++++++ */
  iframe {
    width: var(--width-70);
  }
  /* ++++++++ galeria +++++++++ */
  #container__gallery li {
    width: var(--width-70);
  }
  /* ++++++++++ contato +++++++++ */
  form {
    border-radius: var(--border-radius);
  }
  /* ++++++++++ footer +++++++++ */
  footer {
    padding: 2rem 6rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 769px) {
  .paragraph {
    font-size: 1.5rem;
    width: var(--width-60);
  }
  /* ++++++++ inicio ++++++++++ */
  #presentatio-paragraph {
    margin-top: 50%;
    font-size: 3rem;
  }
  /* +++++++++ sobre +++++++++ */
  iframe {
    margin-top: 5rem;
    width: var(--width-60);
  }
  /* +++++++++++ galeria ++++++++++ */
  #container__gallery li {
    width: var(--width-60);
  }
  /* +++++++++ contato +++++++++ */
  form {
    width: 65%;
  }
  /* +++++++++++ footer +++++++++ */
  footer {
    padding: 2rem 10rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* ++++++++ navbar ++++++++++ */
  header {
    width: var(--width-80);
  }
  #nav {
    width: 35rem;
  }
  #nav__menu {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0.3rem;
    gap: 1rem;
    height: 3rem;
    border-radius: 0;
    left: 10rem;
    background: none;
    text-transform: lowercase;
    width: var(--width-70);
  }

  .nav__menu-link {
    font-size: var(--header-font-size-desktop);
    color: var(--text-color2);
  }

  #button__menu {
    display: none;
  }
  .paragraph {
    width: 40%;
    margin-top: 6rem;
    font-size: 1.5rem;
  }
  /* +++++++++ inicio +++++++++ */
  #presentatio-paragraph {
    margin-top: 45%;
    width: 75%;
  }
  /* ++++++++++ sobre +++++++++ */
  #sobre {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    height: 100vh;
    width: var(--width-100);
  }
  iframe {
    width: 40%;
  }
  /* ++++++++++ galeria ++++++++ */
  #galeria {
    height: 100vh;
  }
  #gallery__itens {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  #container__gallery {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  #container__gallery li {
    width: 35%;
  }
  /* +++++++++++ contato ++++++++++ */
  #contato {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6rem 0 6rem;
    height: 100vh;
  }
  #contato p {
    width: 50%;
  }
  form {
    width: 20rem;
    height: 30rem;
    padding: 2rem 1rem 1rem;
    margin-top: 4rem;
    justify-content: center;
  }
  #h1-form {
    font-size: 1.5rem;
  }

  #form-checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  #form-checkbox p {
    font-weight: 700;
    font-size: 0.8rem;
    color: var(--primary-color1);
    width: var(--width-100);
  }
  input[type='checkbox'] {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  label {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }
  input,
  select,
  textarea {
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
  }
  textarea {
    border-radius: 0.5rem;
    padding: 1rem;
    font-size: 0.8rem;
    max-height: 4rem;
    max-width: 100%;
  }
  .btn {
    width: 8rem;
    margin: 0.5rem auto;
    padding: 0.8rem 1rem;
    font-size: 0.8rem;
  }

  /* ++++++++++++ footer +++++++++++ */
  footer {
    box-shadow: var(--footer-box-shadow);
    padding: 2rem 10rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* ++++++++++ navbar +++++++++++ */
  header {
    width: 65%;
    height: 3.5rem;
  }
  #logo {
    margin: 0.8rem 0 0 0.5rem;
  }
  #nav {
    height: 3rem;
    width: 30rem;
  }
  #nav__menu {
    top: 0;
  }
  /* ++++++++++++ sobre ++++++++++ */
  #presentatio-paragraph {
    margin-top: 15%;
    max-width: 50%;
    font-size: 2.5rem;
  }
  iframe {
    max-width: 30%;
  }
  /* +++++++++++ galeria +++++++++ */
  #galeria {
    padding: 5rem 0;
  }
  #container__gallery {
    width: 40%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }
  #container__gallery li {
    width: 30%;
    margin-bottom: -2rem;
  }
}
/* Aparecer lentamente */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Mover a seta para cima e para baixo */
@keyframes arrowDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateY(-0px);
  }
}
